
<div class="container">
  
  <ul class="nav nav-tabs tab-actions">
    <li *ngIf="post.id"><a routerLink="/blog/{{post.id}}">View</a></li>
    <li *ngIf="post.id" class="active"><a routerLink="/blog/{{post.id}}/edit">Edit</a></li>
    <li *ngIf="post.id"><a href="#">Delete</a></li>
    <li *ngIf="!post.id" class="active"><a routerLink="/newPost">Create New Post</a></li>
  </ul>
  <h2 class="page-title"><span *ngIf="post.id">{{post.title}}</span><span *ngIf="!post.id">Create New Post</span></h2>
</div>

<div class="container">
  <div *ngIf="errMessage" class="alert alert-danger" role="alert">{{errMessage}}</div>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="postTitle">Post Title</label>
      <input type="text" class="form-control" id="postTitle" name="title" placeholder="Post Title ..." [(ngModel)]="post.title">
    </div>
    <div class="form-group">
      <label for="postBody">Password</label>
      <textarea name="body" id="postBody" class="form-control"  cols="30" rows="5" placeholder="Post Body ..." [(ngModel)]="post.body"></textarea>
    </div>
    <button type="submit" class="btn btn-success"><span *ngIf="post.id">Update Post</span><span *ngIf="!post.id">Add Post</span></button>
  </form>
</div>
